.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.extraMileSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1376px;
}

.line {
  color: #FFFFFF;
  font-size: 67px;
  font-weight: 700;
  line-height: 1.28em;
  letter-spacing: 0.03em;
  margin-bottom: 6px;
  text-align: right;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 365px;
  height: 85px;
}

.lastLine{
  display: flex;
  gap: 5px;
  @media screen and (max-width: 800px){
    flex-direction: column;
  }
}

@media screen and (max-width: 1440px) {
  .line {
    font-size: 60px;
  }
}

@media screen and (max-width: 1080px) {
  .line {
    font-size: 49px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 800px) {
  .extraMileSection {
    align-items: center;
  }
  .line {
    text-align: center;
  }
  .logoContainer {
    margin-top: 0; /* Снимаем отступ, если есть */
  }
}

@media screen and (max-width: 480px) {
  .line {
    font-size: 32px;
  }
  .logoContainer img {
    width: 246px;
    height: 65px;
  }
}

@media screen and (max-width: 320px) {
  .line {
    font-size: 24px;
  }
  .logoContainer img {
    width: 178px;
    height: 47px;
  }
}
