.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  @media screen and (max-width: 480px){
    margin-top: 35px;
  }
}

.extraMileSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1376px;
  width: 100%; // Добавлено для полного заполнения ширины
}

.line {
  color: #FFFFFF;
  font-size: 67px;
  font-weight: 700;
  line-height: 1.28em;
  letter-spacing: 0.03em;
  margin-bottom: 6px;
  text-align: right;
}

.logoContainer {
  display: flex;
  align-items: center; // Выравнивание по центру вертикально
  margin-left: 10px; // Отступ между "WITH" и логотипом
}

.lastLine {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 1440px){
    width: 89.5%;
  }
  @media screen and (max-width: 1080px){
    width: 96.5%;
  }
}

@media screen and (max-width: 1440px) {
  .line { font-size: 60px; }
}

@media screen and (max-width: 1080px) {
  .line {
    font-size: 49px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 800px) {
  .extraMileSection {
    align-items: center;
  }
  .line {
    text-align: center;
  }
  .lastLine {
    flex-direction: column;
    align-items: center;
  }
  .logoContainer {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .line { font-size: 32px; }
  .logoContainer img {
    width: 246px;
    height: 65px;
  }
}

@media screen and (max-width: 320px) {
  .line { font-size: 24px; }
  .logoContainer img {
    width: 178px;
    height: 47px;
  }
}