.line {
  width: calc(100% - 217px);
  border: 2px solid;
  margin: 194px auto;
  border-image-source: linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%);
  border-image-slice: 1;
  @media screen and (max-width: 505px){
    margin: 300px auto;
  }
  @media screen and (max-width: 320px){
    margin: 194px auto;
  }
}
