.wrapper {
  margin-top: -25px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1080px) {
    margin-top: 600px;
  }
  @media screen and (max-width: 800px) {
    margin-top: 335px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 180px;
  }
}

.blue {
  background: linear-gradient(90deg, #16BAFF 0%, #8CC8FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  background: rgba(255, 255, 255, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 385px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.33em;
  text-align: left;

  @media screen and (max-width: 1080px) {
    font-size: 1.5em;
    font-weight: 600;
  }
  @media screen and (max-width: 800px) {
    width: 385px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
  }
  @media screen and (max-width: 320px) {
    width: 257px;
    font-size: 1em;
    font-weight: 600;
  }
}

.partnerBlockWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 2.625em auto;


  @media screen and (max-width: 1080px) {
    width: 62.5em;
  }

  @media screen and (max-width: 800px) {
    width: calc(100% + 1.875em);
  }

  @media screen and (max-width: 480px) {
    width: calc(100% + 440px);
    margin-left: -105px;
  }
  @media screen and (max-width: 320px) {
    margin-left: -160px;
    width: calc(100% + 548px);
  }
}

.firstLine {
  display: flex;
  gap: 0.25em; // 4px / 16px
}

.secondLine {
  display: flex;
  margin-top: 0.25em; // 4px / 16px
  gap: 0.25em; // 4px / 16px

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.partnerCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 338px;
  gap: 0.625em;
  border-radius: 0.75em;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  height: 126px;

  .ubisoft {
    width: 180px;
    height: 57px;
    @media screen and (max-width: 1080px) {
      width: 140px;
      height: 43px;
    }
  }

  .grizzly {
    width: 233px;
    height: 102px; // Настроить нужную высоту
    @media screen and (max-width: 1080px) {
      width: 181px;
      height: 78px;
    }
  }

  .early {
    width: 215px;
    height: 36px; // Настроить нужную высоту
    @media screen and (max-width: 1080px) {
      width: 167px;
      height: 28px;
    }
  }

  .spoils {
    width: 233px;
    height: 102px; // Настроить нужную высоту
    @media screen and (max-width: 1080px) {
      width: 181px;
      height: 78px;
    }
  }

  .habbo {
    width: 233px;
    height: 102px; // Настроить нужную высоту
    @media screen and (max-width: 1080px){
      width: 181px;
      height: 78px;
    }
  }

  .gcds {
    width: 233px;
    height: 102px; // Настроить нужную высоту
    @media screen and (max-width: 1080px){
      width: 181px;
      height: 78px;
    }
  }

  .workAdv {
    width: 233px;
    height: 102px; // Настроить нужную высоту
    @media screen and (max-width: 1080px){
      width: 181px;
      height: 78px;
    }
  }

  .realLabs {
    width: 182px;
    height: 50px; // Настроить нужную высоту

  }

  @media screen and (max-width: 1355px) {
    width: 266px;
    height: 102px;
  }

  @media screen and (max-width: 1080px) {
    width: 247px;
    height: 102px;
  }

  @media screen and (max-width: 1000px) {
    width: 224px;
  }

  @media screen and (max-width: 480px) {
    width: 224px;
    height: 98px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    background-color: rgba(239, 60, 189, 0.1);
  }

  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
