.wrapper {
  margin-top: -25px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1080px) {
    margin-top: 600px;
  }
  @media screen and (max-width: 800px) {
    margin-top: 335px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 180px;
  }
}

.blue {
  background: linear-gradient(90deg, #16BAFF 0%, #8CC8FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  background: rgba(255, 255, 255, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 385px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.33em;
  text-align: left;

  @media screen and (max-width: 1080px) {
    font-size: 1.5em;
    font-weight: 600;
  }

  @media screen and (max-width: 320px) {
    width: 16.0625em;
    font-size: 1em;
    font-weight: 600;
  }
}

.partnerBlockWrapper {
  display: flex;
  flex-direction: column;
  width: 85.25em;
  margin: 2.625em auto;

  @media screen and (max-width: 1440px) {
    margin-left: 2.375em;
    margin-right: 2.25em;
  }

  @media screen and (max-width: 1080px) {
    width: 62.5em;
  }

  @media screen and (max-width: 800px) {
    width: calc(100% + 1.875em);
  }

  @media screen and (max-width: 480px) {
    width: calc(100% + 440px);
    margin-left: -105px;
  }
  @media screen and (max-width: 320px) {
    margin-left: -160px;
    width: calc(100% + 548px);
  }
}

.firstLine {
  display: flex;
  gap: 0.25em; // 4px / 16px
}

.secondLine {
  display: flex;
  margin-top: 0.25em; // 4px / 16px
  gap: 0.25em; // 4px / 16px

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.partnerCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.125em;
  padding: 0.75em 0.25em;
  gap: 0.625em;
  border-radius: 0.75em;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  height: 126px;


  @media screen and (max-width: 1080px) {
    width: 247px;
    height: 102px;
  }

  @media screen and (max-width: 800px) {
    width: 189px;
  }

  @media screen and (max-width: 480px) {
    width: 224px;
    height: 98px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    background-color: rgba(239, 60, 189, 0.1);
  }

  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
