.hiringBlockContainer {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to left, #FF2DA0, #7063FF, #16BAFF);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57em;
  letter-spacing: 0.03em;
  text-align: left;
  @media screen and (max-width: 1440px) {
    display: none;
  }
  @media screen and (max-width: 1080px) {
    display: flex;
  }
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
}

.hiringBlockContentWrapper {
  display: flex;
  gap: 12px;
  width: 313px;
  justify-content: center;
}

.hiringBlockTitleIcon {
  margin-top: 4px;
  margin-right: 6px;
}

.hiringBlockTitle {
  display: flex;
  align-items: center;
  background: rgba(4, 2, 13, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hiringBlockSubTitle {
  display: flex;
  align-items: center;
  background: rgba(247, 247, 250, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hiringBlockLinkIcon {
  margin-left: 6px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: transform 0.3s ease, filter 0.3s ease;
    }

    &:hover img {
      transform: scale(1.3); // Увеличение масштаба
      filter: brightness(1.5); // Увеличение яркости
    }
  }
}
