.headerButton {
  display: flex;
  align-items: center;
  height: 50px;
  width: 214px;
  background-color: white;
  margin-left: 301px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    font-family: Satoshi, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 900;
    line-height: 26px;
    color: #04020D;
    text-decoration: none;
    width: 214px;
    height: 50px
  }

  @media screen and (max-width: 1080px) {
    margin-left: 195px;
    width: 170px;
  }
  @media screen and (max-width: 800px) {
    margin-left: 39px;
  }

  @media screen and (max-width: 480px) {
    margin: 0 8px;
  }
  @media screen and (max-width: 320px) {
    display: none;
  }
}